@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: local('SUIT Variable Regular'),
    url('../fonts/SUIT-Variable.woff2') format('woff2-variations');
}

*,
*:before,
*:after {
  font-family: 'SUIT Variable';
  box-sizing: border-box;
}

body {
  margin: 0;
}
